:root {
  --main-color-text: #333333;
  --secondary-color-text: #ffffff;
  --logo-color: #28a745;
  --section-about-background: #f4f4f4;
  --green-background: #28a745;
  --blue-background: #0284d0;
  --phone-color-text: #808080;
  --hero-color-text: #e9e9e9;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --button-activ-color:#0284d0;
--background-color: rgb(255, 245, 233);


    --animate-duration: 7s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
