<section class="section-about" id="about">
  <div class="container">
    <h2 class="previous_games">Попередні ігри</h2>
    <ul class="about-list list">
      <li class="about-item">
        <div class="about-icon">
          <img src="/src/images/Технологія-Агросвіт.jpg"  width="96" height="20" height="96" alt="logo">
          
          <!-- <svg class="icon-house" width="48" height="48">
            <use href="./images/section-about/arsenal.svg"></use>
          </svg> -->
        </div>
        <h3 class="previous_team-name">Технологія-Агросвіт</h3>
      </li>
      <li class="about-item">
        <!-- <div class="about-icon">
          <svg class="icon-book" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-book"></use>
          </svg>
        </div> -->
        <h3 class="previous_games-subtitle">1:1</h3>
        <button type="button" class="previous_games-button" data-modal-open>Деталі</button>
      </li>
      <li class="about-item">
        <div class="about-icon">
          <img src="/src/images/Балу.jpg"  width="96" height="96" alt="logo">
          
          <!-- <svg class="icon-pen" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-pen"></use>
          </svg> -->
        </div>

        <h3 class="previous_team-name">Балу</h3>
      </li>
    </ul>
  </div>
</section>
