<section class="business" id="team">
  <div class="container">
    <!-- <p class="section-top-title dark">This is what we do</p> -->
    <h2 class="section-title dark">Склад команди</h2>
    <!-- <p class="section-description dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p> -->
    <ul class="business-list list gallery">
      <li class="business-item">
        <a
          class="gallery-link"
          href="."
        >
          <img
            class="business-image"
            src="/src/images/Балу.jpg"
            alt="agreement"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="/src/images/Балу.jpg"
        >
          <img
            class="business-image"
            src="/src/images/Балу.jpg"
            alt="graphics"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="/src/images/Балу.jpg"
        >
          <img
            class="business-image"
            src="/src/images/Балу.jpg"
            alt="accord"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="/src/images/Балу.jpg"
        >
          <img
            class="business-image"
            src="/src/images/Балу.jpg"
            alt="team"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="/src/images/Балу.jpg"
        >
          <img
            class="business-image"
            src="/src/images/Балу.jpg"
            alt="work"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="/src/images/Балу.jpg"
        >
          <img
            class="business-image"
            src="/src/images/Балу.jpg"
            alt="world"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="/src/images/Балу.jpg"
        >
          <img
            class="business-image"
            src="/src/images/Балу.jpg"
            alt="career"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>

      <li class="business-item">
        <a
          class="gallery-link"
          href="/src/images/Балу.jpg"
        >
          <img
            class="business-image"
            src="/src/images/Балу.jpg"
            alt="assistance"
            width="320"
            height="214"
            loading="lazy"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
