<section class="player-section" id="team">
  <div class="container">
    <h2 class="carousel_players-tittle">Гравці</h2>

    <div class="carousel_players-container">
        <button class="carousel_player-btn" id="pprevBtn"></button>
      <div class="carousel-players">
        <div class="carousel-content" id="newsCarousel">
          <div class="player">
            <img class="player-img" src="/src/images/DSC_2052.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 1</h3>
            <p4 class="player-text">Воротар</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/DSC_2085.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 2</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/DSC_2109.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 3</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/DSC_2118.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 4</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/DSC_2052.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 5</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/DSC_2118.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 6</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/no-name.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 7</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/no-name2.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 8</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/no-name3.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 9</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
          <div class="player">
            <img class="player-img" src="/src/images/no-name.jpg" alt="foto">
            <h3 class="player-tittle">Игрок 10</h3>
            <p4 class="player-text">Універсал</p4>
          </div>
        </div>
      </div>
        <button class="carousel_player-btn" id="pnextBtn"></button>
  </div>
  </div>
</section>
