<section class="carousel" id="news">
  <div class="container">
    <h2 class="carousel-tittle">Останні новини</h2>

    <div class="carousel-container">
      <button class="carousel-btn" id="prevBtn"></button>
      <div class="carousel-content" id="newsCarousel">
        <div class="news" onclick="showDetails(0)">
          <h3 class="carousel_news-tittle">
            Анонс четвертого туру Вищої ліги чемпіонату Сумської області з
            футзалу
          </h3>
          <img
            class="news-img"
            src="/src/images/news/anons-4-tur.jpg"
            alt="foto"
          />
          <!-- <button class="details-btn" onclick="showDetails(5)">Деталі</button> -->
          <p class="carousel-text">
            Матчі «вишки» набирають обертів, і вже фактично кожна з команд
            відчула смак перемог цього сезону, тож безсумнівно бажають
            поповнювати свій очковий доробок і надалі. А от кому саме це
            вдасться цього тижня будемо слідкувати разом. Нас чекає кілька
            справді захоплюючих поєдинків, тож до вашої уваги анонс четвертого
            туру Вищої ліги. СКІФ-СДПУ – СК Поліцейських Сумщини /25.11 – 11:00,
            спорткомплекс СДПУ/ Минулого тижня обидва колективи не зуміли
            здобути результат на який розраховували, тож дане протистояння
            розцінюють як добру можливість виправитися. «Педагоги» незважаючи на
            велику кількість атак у гір проти CompService мусили вдовольнитися
            нічиєю, яку на останній хвилині приніс для команди Євгеній Балухта,
            а «полісмени» видали гольовий екшн у грі проти Сумиобленерго, яка
            завершилася для них поразкою. Для гостей це вже друга поспіль
            невдача, тому підопічним Олександра Єлшанського конче необхідно
            набирати очки, аби не потрапити у психологічну яму. Для цього їм
            потрібно бути більш уважними у захисті, та не припускатися прикрих
            помилок, адже за великим рахунком саме необов’язкові обрізки
            призвели до трьох забитих голів у виконані прудконогих гравців
            Сумиобленерго. Господарям же в свою чергу варто взяти на озброєння,
            те з якою активністю діяли «енергетики» того матчу, та спробувати
            повторити даний маневр, тим паче що у розпорядженні Ігора Кравченка
            широка обойма виконавців, і проблем з невпинним пресингом виникнути
            не повинно. Проте, чи вдасться «педагогам» налаштувати приціл в
            цьому матчі, будемо дивитися разом. Наш прогноз: 3:3 O`GRADY`S Team
            – CompService /25.11 – 15:00, легкоатлетичний манеж СумДУ/ Дуже
            схожі результати продемонстрували команди минулого тижня, втративши
            у своїх матчах перемоги на останніх хвилинах. Історія протистоянь
            даних суперників доволі широка, і перевага не затримуються надовго в
            жодного з них. Тож можна сміливо говорити, що ми спостерігатимемо
            поєдинок абсолютно рівних одна одній команд. І за таких умов на
            перший план завжди виходить саме функціональна готовність на даний
            період часу, той хто готовий буде багато працювати заради результату
            зможе диктувати умови гри. В цьому плані невеличку перевагу віддамо
            гостям, адже останнім часом підопічні Олексія Тюріна вражають своє
            дисциплінованістю, яка до цього ніколи не була їх козирем,
            «комп’ютерники» демонструють прагматичний футзал витискаючи максимум
            із своїх моментів. Звісно ж в цьому велика заслуга кращого голеодора
            ліги останніх років, Ігора Маценка, на плечі якого і лягає
            реалізація тих самих нагод. Тож для гравців O`Grady`s,
            нейтралізування сьомого номера CompService, стане додатковою
            складністю. Обидва колективи являються сусідами в турнірній таблиці,
            тому перемога одного з них дозволить мати невеличкий запас на
            майбутнє. Навряд чи слід чекати великої кількості голів в даному
            протистоянні, тому спробуємо спрогнозувати мінімальну перемогу
            гостей. Наш прогноз: 1:2 Сумиобленерго – Газмережі СФ /25.11 –
            16:00; легкоатлетичний манеж СумДУ/ А от хто в доброму гуморі
            підходить до цього туру, так це обидва колективи, що
            зустрічатимуться між собою цієї суботи. Сумиобленерго здобули
            яскраву перемогу над СК Поліцейських Сумщини, яким здається забили
            те, що не влетіло в матчі проти CompSrvice, а Газмережі були більш
            вдалими у протистоянні з Технологією-Агросвіт та святкували
            мінімальну «вікторію». Тож без сумніву тренери обох команд не мають
            наміру зменшувати оберти та втрачати очки в очному поєдинку. З точки
            зору організації гри, то гості показали, що матч проти СумДУ був
            лише винятком та результатом недооцінки суперника, і забити їм досі
            залишається задачею з зірочкою. Підопічні Андрія Бурдюга зробили
            кілька вдалих придбань в особі Олександра Колесника та Віталя
            Радченка, які за рахунок свого досвіду додали колективу солідності в
            діях на майданчику. Тому цікаво в якому стилі збираються протидіяти
            «газовикам» команда господарів. Останнім часом, розкутість та
            націленість на ворота суперників у виконанні «енергетиків» дуже
            імпонує, проте чи готові вони в такому ж стилі зіграти проти одного
            з лідерів чемпіонату, викликає питання. Адже саме завдяки
            дисциплінованості біля власних воріт, в минулому році Сумиобленерго
            набрали 4 очки в протистоянні з «газовиками». Тож як саме діятимуть
            господарі, та чи готові ризикувати в грі з фаворитами, будемо
            слідкувати разом. Наш прогноз: 2:2 Технологія-Агросвіт – Україна
            Токарі /26.11 – 13:00; легкоатлетичний манеж СумДУ/ Центральне
            протистояння туру відбудеться між командами Технолгія-Агросвіт –
            Україна Токарі. «Технологи» після поразки минулого тижня мають
            реабілітуватися перед власними вболівальниками, та і говорити
            постійно про те, що підопічні Максима Мисловського розриваються між
            двох вогнів, граючи по два поєдинки за вихідні немає жодного сенсу,
            адже колектив чудово розумів, на що йде. Тож якщо в планах лишається
            бажання тримати пальму першості, то дві поразки поспіль можуть стати
            неприпустимою розкішшю для господарів. Україна Токарі, на старті
            чемпіонату виглядає дуже впевнено і діють з максимальною
            раціональністю, не дозволяючи суперникам створити більше ніж вони
            можуть нівелювати. Тому не дивно, що наразі у колективу найпотужніші
            показники серед усіх команд ліги. Та от чи вдасться їх втримати в
            такому балансі після гри з Технологією-Агросвіт, дуже цікаво.
            Минулого сезону, за великим рахунком лише в фіналі кубку підопічним
            Михайлюка вдалося не на жарт наблизитися до перемоги над
            господарями, тому поки «технологи» являють дуже не зручним
            суперником для України Токарі. Чи вдасться змінити тенденцію
            минулого року, будемо спостерігати цієї неділі разом. Наш прогноз:
            1:3 Явір Краснопілля – СумДУ /26.11 – 14:00; легкоатлетичний манеж
            СумДУ/ Дуже важливе протистояння очікує нас між командами Явір
            Краснопілля та СумДУ. Обидва колективи поки не вражають
            результатами, тож очна зустріч може дати важливий поштовх на
            покращення їх. Явір минулого тижня зумів проявити характер, та
            уникнув поразки у грі проти O`Grady`s team, а СумДУ післі
            обнадійливого першого тайму провалив другий та зазнав розгромної
            поразки проти Україна Токарі. У грі господарів поки відчувається, що
            Зеленський не може в повному обсязі розраховувати на всю обойму
            гравців, через що більшу частину матчу вимушений грати мінімальною
            обоймою, що і призводить до пропущених голів. Можливо повернення до
            складу Ігора Головльова більше розв’яже руки тренеру краснопільців,
            адже поєдинок проти ще одних студентів в першому турі яскраво
            показав, що фізична готовність проти молодих колективів відіграє
            вагоме значення. І дві рівноцінні четвірки в подібних зустрічах
            являються необхідністю. СумДУ, через брак концентрації, поки не
            здібний видати два рівноцінні тайми, що і відображається в
            результатах колективу. Підопічні Олександра Шумило непогано
            взаємодіють в атаці, проте роблять купу помилок поблизу власних
            воріт, і скидати все на відсутність досвіду не буде абсолютно вірним
            рішенням, адже більшість з них являються суто індивідуальні. Тож
            якщо студентам вдасться мінімізувати свої огріхи, то шанси здобути
            позитивний результат значно збільшаться. Наш прогноз: 3:2
          </p>
        </div>
        <div class="news" onclick="showDetails(1)">
          <h3 class="carousel_news-tittle">
            У Сумах місцева “Технологія-Агросвіт” приймала колектив “ЯСКО” з
            Вінниці.
          </h3>
          <img
            class="news-img"
            src="/src/images/news/Tehno-Yasko.jpg"
            alt="foto"
          />
          <!-- <button class="details-btn" onclick="showDetails(5)">Деталі</button> -->
          <p class="carousel-text">
            У суботу, 25 листопада, у Сумах місцева “Технологія-Агросвіт”
            приймала колектив “ЯСКО” з Вінниці. Фінальний свисток зафіксував
            мінімальну перевагу гостів з рахунком 2:3. Голами в складі Сумського
            колектива відзначились Прощенко Роман та Пустовойт Ілля. Матч
            відповідь відбудеться 9 грудня на майданчику вінничан. Наголосимо,
            що переможець пари за сумою двох протистоянь виходить у 3-ій раунд
            Кубку України.
          </p>
        </div>
        <div class="news" onclick="showDetails(2)">
          <h3 class="carousel_news-tittle">
            Відбір на Євро-2024: які шанси в України вийти з групи?
          </h3>
          <img class="news-img" src="/src/images/news/512837.png" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(0)">Детали</button> -->
          <p class="carousel-text">
            Збірна України продовжує боротьбу за путівку на чемпіонат Європи,
            який наступного року пройде в Німеччині, і вже 9 та 12 вересня
            зіграє чергові два матчі, а суперниками нашої команди стануть збірні
            Англії та Італії. Зрозуміло, що саме англійці та італійці є
            фаворитами нашого квінтету, але й шанси в України на прохід далі є,
            і вони не виглядають поганими. Наразі в те, що англійці не доведуть
            справу до кінця, не віриться зовсім. Коефіцієнти на те, що вони
            займуть одне з двох перших місць, які дають право виходу на Євро:
            1,01-1,02. На перемогу в групі "трьох левів" букмекери пропонують
            всього 1,17. Італія провела тільки два матчі – перемогла Мальту і
            поступилась Англії та з трьома очками поки йде на третій сходинці.
            Але букмекери все одно вірять в них більше, ніж в Україну.
            Коефіцієнти на їхній прохід на чемпіонат Європи дорівнюють від 1,25
            до 1,36. Перемога в квінтеті набагато менш реальна – ваша ставка
            збільшиться в 5 разів, якщо ця подія станеться.
          </p>
        </div>
        <div class="news" onclick="showDetails(3)">
          <h3 class="carousel_news-tittle">
            10 найкращих трансферів літа у Бундеслізі: Кейн, Бонуччі та інші
          </h3>
          <img class="news-img" src="/src/images/news/512891.jpg" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(1)">Деталі</button> -->
          <p class="carousel-text">
            Літнє трансферне вікно в провідних чемпіонатах завершилось. А отже
            маємо зробити висновки щодо нових підписань клубами в чемпіонаті
            Німеччини, бо ця ліга подарувала нам багато якісних переходів, котрі
            можуть непогано заявити про себе. Давайте розберемось, хто саме.
            Досвідчений футболіст раніше виступав у складі Вольфсбурга, тому
            добре освідчений щодо контексту чемпіонату. Свого часу клуб придбав
            його в АЗ, а на Фольксваген Арені нідерландський форвард проявив
            себе чудово, стабільно тримаючи гольову планку впродовж кількох
            сезонів. Проте амбіції колективу були не реалізовані на практиці, а
            Веггорст вирішив переїхати до більш статусної ліги. У підсумку з
            Німеччини транзитом через Бернлі, котрому він належить і нині, та
            Бешикташ була оренда у Манчестер Юнайтед.Не можна назвати це повним
            провалом, проте в команді Еріка тен Гага проявити себе як слід також
            не вдалося. 2+3 точно не ті цифри, яких очікували від цього
            переходу. Тепер футболіст пішов до іншої оренди, до Гоффенгайма.
            Здається, цього разу все має вийти дещо краще, бо буде менше
            очікувань від преси та вболівальників. А ось стосовно конкуренції
            все не так очевидно, у Зінсхаймі доволі непогана група атаки із
            Андреєм Крамарічем та Мергімом Берішою, тому легко Вуту точно не
            буде.
          </p>
        </div>
        <div class="news" onclick="showDetails(4)">
          <h3 class="carousel_news-tittle">
            Став відомий список претендентів на Золотий м'яч
          </h3>
          <img class="news-img" src="/src/images/news/512892.jpg" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(2)">Деталі</button> -->
          <p class="carousel-text">
            Французький журнал France Football опублікував список претендентів
            на головну нагороду року – Золотий м'яч. Традиційно до остаточного
            списку номінантів потрапили 30 футболістів: Хуліан Альварес
            (Манчестер Сіті), Ніколо Барелла (Інтер), Джуд Беллінгем (Реал),
            Карім Бензема (Аль-Іттіхад), Яссін Буну (Севілья), Яссін Буну
            (Аль-Хіляль), Кевін де Брюйне (Манчестер Сіті), Рубен Діаш
            (Манчестер Сіті), Антуан Грізманн (Атлетіко), Ілкай Гюндоган
            (Барселона), Йошко Гвардіол (Манчестер Сіті), Ерлінг Голанд
            (Манчестер Сіті), Гаррі Кейн (Баварія), Рандал Коло-Муані (ПСЖ),
            Хвіча Каварцхелія (Наполі), Роберт Левандовські (Барселона),
            Еміліано Мартінес (Астон Вілла), Лаутаро Мартінес (Інтер), Кіліан
            Мбаппе (ПСЖ), Ліонель Мессі (Інтер Маямі), Кім Мін Дже (Наполі),
            Лука Модрич (Реал), Джамал Мусіала (Баварія), Мартін Едегор
            (Арсенал), Андре Онана (Манчестер Юнайтед), Віктор Осімген (Наполі),
            Родрі (Манчестер Сіті), Букайо Сака (Арсенал), Мохамед Салах
            (Ліверпуль), Бернарду Сілва (Манчестер Сіті), Вінісіус Жуніор
            (Реал).
          </p>
        </div>
        <div class="news" onclick="showDetails(5)">
          <h3 class="carousel_news-tittle">
            Збірна України провела два тренування у Тшебниці
          </h3>
          <img class="news-img" src="/src/images/news/512900.jpg" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(3)">Деталі</button> -->
          <p class="carousel-text">
            У середу, 6 вересня, збірна України провела два тренувальні заняття
            у рамках підготовки до найближчих матчів відбору Євро-2024 проти
            Англії та Італії. Ранкове тренування відбулося на Fair play arena у
            Тшебниці, яка була зведена перед Євро-2012. Футболісти були поділені
            на дві групи – одна відпрацьовувала дії в обороні, а друга – гру в
            атаці.Вечірнє тренування пройшло у містечку Жміргуд на стадіоні MKS
            Piast. На заняттях гравці зосередилися на командних діях у контексті
            тактичних моделей, які напрацьовуються на найближчі ігри.
          </p>
        </div>
        <div class="news" onclick="showDetails(6)">
          <h3 class="carousel_news-tittle">
            Матч Україна — Англія обслужать арбітри із Болгарії
          </h3>
          <img class="news-img" src="/src/images/news/512884.jpg" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(4)">Деталі</button> -->
          <p class="carousel-text">
            УЄФА призначила суддівську бригаду на матч п'ятого туру групового
            етапу відбірного циклу Євро-2024 між збірними України та Англії. Про
            це повідомляє прес-служба УАФ. Головним арбітром матчу буде
            болгарський рефері Георгій Кабаков, а допомагатимуть йому Мартін
            Маргарітов та Діян Валков. Резервним рефері призначено Миколу
            Попова.За свою кар'єру Кабаков обслужив шість матчів збірних у
            кваліфікаціях ЧС та ЧЄ. З Україною та Англією раніше не перетинався,
            але відсудив матч між Шахтарем та Інтером у Лізі чемпіонів (0:0) у
            сезоні-2020/21. Нагадаємо, матч Україна – Англія відбудеться у
            суботу, 9 вересня, у польському Вроцлаві на стадіоні
            Тарчинський-Арена. Стартовий свисток пролунає о 19:00 за київським
            часом. На Football.ua буде доступна текстова онлайн-трансляція
            матчу.
          </p>
        </div>
        <div class="news" onclick="showDetails(7)">
          <h3 class="carousel_news-tittle">
            Зінченко, Мудрик, Циганков та інші легіонери приєдналися до збірної
            України
          </h3>
          <img class="news-img" src="/src/images/news/512784.jpg" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(5)">Деталі</button> -->
          <p class="carousel-text">
            Другий день зборів у Польщі збірна України розпочала з
            фітнес-заняття, поділившись на дві групи. Про це повідомляє
            прес-служба УАФ. Напередодні ввечері до розташування національної
            команди Сергія Реброва прибули Віталій Миколенко, Михайло Мудрик та
            Ілля Забарний, а також Роман Яремчук.Потім були вправи на гнучкість,
            розтягнення м'язів та активацію організму, які запропонував
            новий-старий тренер з фізпідготовки Віталій Кулиба, який повернувся
            до збірної через 11 років — до повернення він працював у київському
            Динамо.В обід у готель збірної до Тшебниці прибули три представники
            Ла Ліги — Андрій Лунін, Віктор Циганков та Артем Довбик. За годину
            до вечірнього тренування прибув Олександр Зінченко з АПЛ.
          </p>
        </div>
        <div class="news" onclick="showDetails(8)">
          <h3 class="carousel_news-tittle">
            Україна — Англія: де дивитись матч кваліфікації Євро-2024 09.09.2023
          </h3>
          <img class="news-img" src="/src/images/news/512830.jpg" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(6)">Деталі</button> -->
          <p class="carousel-text">
            У суботу, 9 вересня, відбудеться матч кваліфікації чемпіонату
            Європи-2024 між збірними України та Англії. Гра пройде у польському
            Вроцлаві на стадіоні Тарчинські Арена. Для збірної України ця гра
            стане першим великим викликом у вересневій частині відбору до
            чемпіонату Європи-2024. Трохи пізніше, 12 вересня, "синьо-жовті"
            зіграють проти збірної Італії
          </p>
        </div>
        <div class="news" onclick="showDetails(9)">
          <h3 class="carousel_news-tittle">
            Зінченко: Робота під керівництвом Реброва інтенсивна, але водночас
            цікава
          </h3>
          <img class="news-img" src="/src/images/news/512947.jpg" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(7)">Деталі</button> -->
          <p class="carousel-text">
            Півзахисник збірної України Олександр Зінченко прокоментував
            тренувальний процес національної команди під керівництвом Сергія
            Реброва. "Це мій перший збір під керівництвом Сергія Реброва. Для
            мене, в принципі, не треба так багато часу, щоб адаптуватись, адже
            багатьох знаю особисто і в принципі почуваю себе добре.З Ребровим ми
            зустрічались кілька разів. Але, як то кажуть, ближче познайомитись
            довелось вже тут. Робота інтенсивна, але водночас цікава. Дуже
            багато інформації потрібно передати команді за такий короткий час
            перед такими відповідальними іграми. Гадаю, що тренерський штаб це
            робить на п'ять з плюсом, як то кажуть. Побачимо, що буде у грі", —
            сказав Зінченко в інтерв'ю
          </p>
        </div>
        <div class="news" onclick="showDetails(10)">
          <h3 class="carousel_news-tittle">
            Зінченко, Мудрик, Циганков та інші легіонери приєдналися до збірної
            України
          </h3>
          <img class="news-img" src="/src/images/news/512784.jpg" alt="foto" />
          <!-- <button class="details-btn" onclick="showDetails(5)">Деталі</button> -->
          <p class="carousel-text">
            Другий день зборів у Польщі збірна України розпочала з
            фітнес-заняття, поділившись на дві групи. Про це повідомляє
            прес-служба УАФ. Напередодні ввечері до розташування національної
            команди Сергія Реброва прибули Віталій Миколенко, Михайло Мудрик та
            Ілля Забарний, а також Роман Яремчук.Потім були вправи на гнучкість,
            розтягнення м'язів та активацію організму, які запропонував
            новий-старий тренер з фізпідготовки Віталій Кулиба, який повернувся
            до збірної через 11 років — до повернення він працював у київському
            Динамо.В обід у готель збірної до Тшебниці прибули три представники
            Ла Ліги — Андрій Лунін, Віктор Циганков та Артем Довбик. За годину
            до вечірнього тренування прибув Олександр Зінченко з АПЛ.
          </p>
        </div>
      </div>
      <button class="carousel-btn" id="nextBtn"></button>
    </div>
  </div>
</div>
</section>
