<header class="header" id="header">
  <div class="container">

    

    <nav class="header-navigation">
      <a
        class="header-logo link animate__animated animate__rubberBand"
        href="./index.html"
      >
        <img
          class="header-logo-img"
          src="/src/images/Технологія-Агросвіт.png"
          alt="logo"
          width="96"
          height="96"
        /><span class="header-logo-decoration">Технологія-Агросвіт</span>
      </a>

      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link" href="#hero">Головна</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#previous">Попередні ігри</a>
        </li>
        <li class="header-item">
           <a class="header-link" href="#upcoming">Майбутні ігри</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#team">Команда</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#footer">Contact</a>
        </li>
        <label class="switch">
          <input type="checkbox" id="themeToggle">
          <span class="slider"></span>
        </label>
      </ul>
    </nav>
  </div>
</header>
