<section class="hero" id="hero">
  <div class="container">
    <h1
      class="hero-title animate__animated animate__zoomInDown animate__delay-1s"
    >
      Петрик і Ко
    </h1>
    <p class="hero-description">Найохуєнніша команда</p>
    <!-- <button class="hero-button" type="button"> -->
    <!-- <svg class="hero-button-icon" width="7" height="11">
        <use href="./images/sprite/symbol-defs.svg#icon-button"></use></svg -->
    <!-- >Read More -->
    <!-- </button> -->
  </div>
</section>
