MODAL
<div class="backdrob is-hidden" data-modal2>
    <div class="modal">
        <p class="modal__title">Деталі матчу</p>
        <form class="form" autocomplete="off">
            <div class="modal-box">
                <p class="modal-text">
                    Вам пизда! 
                    
                    Півзахисник київського Динамо Микола Шапаренко не зможе допомогти збірній України у найближчих матчах відбіркового циклу Євро-2024 проти Англії та Італії. Про це повідомляє прес-служба УАФ.

24-річний українець отримав ушкодження у матчі кваліфікації Ліги конференцій проти Бешикташа. У нього діагностовано ушкодження сухожилля двоголового м'яза стегна. На відновлення йому знадобиться близько трьох тижнів.
                <img src="/src/images/IMG_1595.jpeg" alt="фото">
            </div>


  


            <button type="button" class="modal__btn__close" data-modal2-close>Закрити</button>

        </form>
        <!-- <button type="button" class="modal__btn__close" data-modal-close>
            <svg class="modal-icon" width="11" height="11">
                <use href="/src/images/sprite.svg#icon-close-btn"></use>
            </svg>
        </button> -->
    </div>
</div>