    <!-- MODAL -->
    <div class="backdrob is-hidden" data-modal>
        <div class="modal">
            <p class="modal__title">Деталі матчу</p>
            <form class="form" autocomplete="off">
                <div class="modal-box">
                    <p class="modal-text">
                        Охуэнна гра! 
                        
                        Четверта перемога мадридців на початку сезону була наслідком захопливої гри. Стадіон Сантьяго Бернабеу, прикритий для цього свята із південної частини, виглядав вражаюче. Але Хетафе, завжди надійний і цілеспрямований, не хотів поступатися іменитому супернику. Можливо, саме ця команда володіє найкращою обороною в Ла Лізі завдяки своєму вмінню грати у чітко побудованій структурі. Команда Хосе Бордаласа вразила нас вже на початку гри, коли Фран Гарсія допустив помилку, і Борха Майораль відразу ж використав її, забивши перший гол (трішки святкував у ворота свого колишнього колективу). Але вона була готова віддати Реалу контроль над грою у другому таймі.
                    </p>
                    <img src="/src/images/IMG_1320.jpeg" alt="фото">
                </div>



                <button type="button" class="modal__btn__close" data-modal-close>Закрити</button>

            </form>
            <!-- <button type="button" class="modal__btn__close" data-modal-close>
                <svg class="modal-icon" width="11" height="11">
                    <use href="/src/images/sprite.svg#icon-close-btn"></use>
                </svg>
            </button> -->
        </div>
    </div>