<section class="section-about" id="upcoming">
  <div class="container">
    <h2 class="previous_games">Майбутні ігри</h2>
    <ul class="about-list list">
      <li class="about-item">
        <div class="about-icon">
          <img src="/src/images/Технологія-Агросвіт.jpg"  width="96" height="96" alt="logo">
          
          <!-- <svg class="icon-house" width="33" height="31">
            <use href="./images/section-about/pen.svg"></use>
          </svg> -->
        </div>
        <h3 class="future_team-name">Технологія-Агросвіт</h3>
      </li>
      <li class="about-item">
        <!-- <div class="about-icon"> -->
        
          <!-- <svg class="icon-book" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-book"></use>
          </svg> -->
        
        <!-- <h3 class="future_games-subtitle">VS</h3> -->
        <img class="future_team-img" src="/src/images/vs3l_5498970.png" width="96" height="96" alt="vs">
        <button type="button" class="future__games-button" data-modal2-open>Деталі</button>
        <!-- </div> -->
      </li>
      <li class="about-item">
        <div class="about-icon">
          <img src="/src/images/Компсервис.jpg"  width="96" height="96" alt="logo">
          
          <!-- <svg class="icon-pen" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-pen"></use>
          </svg> -->
        </div>
        <h3 class="future_team-name">Компсервис</h3>
      </li>
    </ul>
  </div>
</section>
