<section class="section-about" id="about">
  <div class="container">
    <h2 class="previous_games">Майбутні ігри</h2>
    <ul class="about-list list">
      <li class="about-item">
        <div class="about-icon">
          <svg class="icon-house" width="33" height="31">
            <use href="./images/section-about/pen.svg"></use>
          </svg>
        </div>
        <h3 class="about-subtitle">Технологія</h3>
      </li>
      <li class="about-item">
        <!-- <div class="about-icon">
          <svg class="icon-book" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-book"></use>
          </svg>
        </div> -->
        <h3 class="about-subtitle">VS</h3>
        <button class="previous_games-button" type="button">Деталі</button>
      </li>
      <li class="about-item">
        <div class="about-icon">
          <!-- <svg class="icon-pen" width="35" height="35">
            <use href="./images/sprite/symbol-defs.svg#icon-pen"></use>
          </svg> -->
        </div>
        <h3 class="about-subtitle">Lex VSK</h3>
      </li>
    </ul>
  </div>
</section>
