<section class="section-about" >
  <div class="container">

    <h2 class="tournament-name">Чемпіонат України з футзалу Перша ліга 2023/2024 | Група «А»</h2>
    <table>
      <thead>
        <tr>
          <th>Місце</th>
          <th>Команда</th>
          <th>М</th>
          <th>В</th>
          <th>Н</th>
          <th>П</th>
          <th>Заб</th>
          <th>Про</th>
          <th>Різн</th>
          <th>О</th>
        </tr>
      </thead>

      <tbody id="table-bodya"></tbody>
    </table>


    <h2 class="tournament-name">Чемпіонат України з футзалу Перша ліга 2023/2024 | Група «Б»</h2>
    <table>
      <thead>
        <tr>
          <th>Місце</th>
          <th>Команда</th>
          <th>М</th>
          <th>В</th>
          <th>Н</th>
          <th>П</th>
          <th>Заб</th>
          <th>Про</th>
          <th>Різн</th>
          <th>О</th>
        </tr>
      </thead>

      <tbody id="table-body"></tbody>
    </table>

    <h2 class="tournament-name">Чемпіонат Сумської області з футзалу Вища ліга</h2>
    <table>
      <thead>
        <tr>
          <th>Місце</th>
          <th>Команда</th>
          <th>М</th>
          <th>В</th>
          <th>Н</th>
          <th>П</th>
          <th>Заб</th>
          <th>Про</th>
          <th>Різн</th>
          <th>О</th>
        </tr>
      </thead>

      <tbody id="table-bodyb"></tbody>
    </table>
  </div>
</section>
