body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    }

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
    background-size: 100%;
    }

.logo-animation {
    width: 500px; /* Задайте размеры ваших логотипа */
    height: 500px;
    background-image: url('/src/images/techno.png');
    background-size: cover;

    transform: scale(0);
    animation: scale-up 3s forwards;
    }

@keyframes scale-up {
    to {
        transform: scale(1);
    }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background-color: black;
            
            }
        
        
        
        .logo-animation {
            width: 250px; /* Задайте размеры ваших логотипа */
            height: 250px;
            background-image: url('/src/images/techno.png');
            background-size: cover;
        
            transform: scale(0);
            animation: scale-up 3s forwards;
            }
        
        @keyframes scale-up {
            to {
                transform: scale(1);
            }
            }
    }