.header {
  // position: fixed;
  width: 100%;

  z-index: 5;

  &.header-scroll {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  & .container {
    padding: 0 50px;
  }

  &-navigation {
    // display: flex;
    align-items: center;
    justify-content: center;
  }

  &-logo {
  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    line-height: 1.21;
    color: var(--secondary-color-text);
    
    
  }

  &-logo-decoration {
    
    color:#6897dd;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
      &-logo-decoration:hover,
      &-logo-decoration:focus {
      scale: 1.05;
      filter: drop-shadow(0 4px 5px #063985);
    }
 

  &-logo-img {
    margin-right: 20px;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
   
  }

  &-item:not(:last-child) {
    margin-right: 38px;
  }

  &-link {

   

    font-size: 32px;
    display: block;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #6897dd;
    text-decoration: none;
    text-align: center;
    transition: color 250ms linear;
  }

  &-link:hover,
  &-link:focus {
      scale: 1.05;
      filter: drop-shadow(0 4px 5px #063985);
  }
}


