
.hero {
  margin: 54px auto;
  max-width: 1360px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  padding-top: 279px;
  padding-bottom: 284px;
  text-align: center;

  &-button-icon {
    margin-right: 6px;
  }

  &-title {
    margin-bottom: 25px;

    color: var(--hero-color-text);

    font-weight: 300;
    font-size: 55px;
    line-height: 1.1;
  }

  &-description {
    color: var(--hero-color-text);
    margin-bottom: 29px;

    font-size: 22px;
    line-height: 1.68;
  }

  animation: imageChange 20s infinite;
 
  
  
}


@keyframes imageChange {
  0%, 100% {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/IMG_1595.jpeg);
    opacity: 1;
    // transform: scale(1);
    animation: scaleAnimation 10s infinite alternate;
  }
  50% {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/IMG_1320.jpeg);
    opacity: 1;
    // transform: scale(1.2);
    animation: scaleAnimation 10s infinite alternate;
    transition: opacity 2s;
  }
}







