// .solution {
//   & .container {
//     display: flex;
//     padding: 0;
//   }

//   &-content-wrapper {
//     background-color: var(--logo-color);
//     padding: 84px 44px 84px 30px;
//   }

//   &-btn {
//     @extend .button;

//     width: 167px;
//     border: 1px solid var(--secondary-color-text);
//     background-color: transparent;
//   }
// }
// .future_games-tittle{
//   text-align: center;
  
// }

// .future_games-list {
//   justify-content: center;
//   display:flex;
//   gap: 70px;
// }

.future_team-name {
  font-size: 30px;
  line-height: 1.65;
  font-weight: 600;
  text-align: center;
}

.future_games-subtitle {
  margin-bottom: 1px;
  font-size: 50px;
  line-height: 1.65;
  font-weight: 400;
  text-align: center;
}

.future__games-button {
  font-family: inherit;
  border: transparent;
  border-radius: 15px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: #6897dd;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 5px;

  &:hover {
      scale: 1.05;
      filter: drop-shadow(0 8px 10px #6897dd);
}
}

.future_team-img {
margin: auto;
height: 90px;
width: 200px;
}